
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center" style="margin-top:60px;">
    <h2>Report</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h3>Less Quantity</h3>
            <table class="table table-hover">
                <tr>
                    <th> Product Name </th> 
                    <th> Product Quantity </th> 
                    <th> Category Name </th> 
                </tr>
                @foreach (var a in ViewBag.LessQuantity) {
                    <tr>
                        <td>@a.ProductName</td>
                        <td>@a.ProductQuentity</td>
                        <td>@a.CategoryName</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h3>Max Sell Product</h3>
            <table class="table table-hover">
                <tr>
                    <th> Product Name </th>
                </tr>
                @foreach (var a in ViewBag.MaxSell)
                {
                    <tr>
                        <td>@a.ProductName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

